/* 
Head
Logo color #2196F3 -blue and  #000000 */

/* nav head #212121, hover #2196F3 *, pnone+mail #757575, hover #2196F3/

/* hero text #FFFFFF
hero button text #FFFFFF
hero button color #2196F3
 */

/* h2 #212121 */

/* "our targets" + "our team"
h3  #212121
p #757575 */

/* footer

logo #2196F3 +#FFFFFF 
adress #FFFFFF
mail+ phone rgba(255, 255, 255, 0.6);*/

/* background
head #FFFFFF
main #E5E5E5
our team #F5F4FA*/

body {
  background-color: #e5e5e5;
  color: #212121;
}

.logo {
  color: #2196f3;
}
